.footer {
  background-color: #495E57;
  height: 100%;
  width: 100%;
}

  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    font-family: "Karla", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
  }

  .footer-logo {
      height: 200px;
      object-fit: contain;
  }

    .footer-title {
      font-size: 20px;
      margin-bottom: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      }

      .footer-item {
        margin: 0.5rem 0;
        text-decoration: none;
        color: white;
        display: flex;
      }

      .footer-item:hover {
        animation-name: colorChange;
        animation-duration: 1s;
      }

      @keyframes colorChange {
        0% {
          color: white;
        }
        100% {
          color: #333333;
        }
      }

      .contact-item {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        margin: 0 0 12px 0;
        line-height: 22px;
        .contact-icon {
          padding: 0 10px 0 0;
        }
      }

      .contact-item:hover {
        color: #333333;
      }

      .socials {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 120px;
        .social-icon {
          width: 20px;
          height: 20px;
          color: white;
          path {
            fill: white;
          }
        }    

          .social-icon:hover {
            transform: translateY(-5px);
            color: #333333;
            path {
              fill: #333333;
              transition: all 0.2s ease;
            }
          }
        }


@media only screen and (max-width: 800px) {
  .footer {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px 20px;
      word-break: break-word;
      overflow: hidden;
      width: 100%;
  }
}
@media only screen and (max-width: 599px) {
  .footer {
      grid-template-columns: 1fr;
  }
}