* {
  margin: 0;
  padding: 0;
}

.reservation-header {
  margin: 40px 0;

    .img-wrap {
      display: flex;
      padding: 0;
      height: auto;
      width: 100%;

      .reserve-image {
        grid-area: image;
        width: 100%;
        height: 700px;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }

.reservation-form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  align-items: center;
  grid-template-areas:
                        form-button
                        form-title
                        reservation-details;

  .form-button {
      margin: 60px 20px 0px 40px;
    }
        .back-button {
          border: none;
          height: 100%;
          width: 100%;
          margin: 20px;
          padding: 35px 10px 8px 10px;
          border-radius: 20px;
        }
        .back-button:hover {
          background-color: #F4CE14;
          color: #495E57;
          transition: background 0.3s;
          box-shadow: 2px 2px 4px rgba(#000, 0.2);
        }
  .form-title {
    font-family: "Markazi-Text";
    font-size: 48px;
    line-height: 1.2;
    color: #495E57;
    font-weight: 600;
    text-align: center;
  }
  .reservation-details {
    font-family: "Karla";
    font-size: 32px;
    color: #333333;
    text-align: center;
  }
}

.details-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  grid-template-areas:
                      'date time'
                      'number occasion'
                      'table-preference table-preference'
                      'first-name last-name'
                      'email mobile'
                      'communication communication'
                      'special special';
  max-width: 800px;
  margin: auto;
  font-family: "Karla";
  color: black;
  font-size: 22px;
  line-height: 1.4;
  text-transform: capitalize;
  transition: border 0.3s;
}
    ::placeholder {
      color: rgb(73, 72, 72);
      opacity: 1;
    }

    .date,
    .time,
    .number,
    .occasion,
    .first-name,
    .last-name,
    .email,
    .mobile {
      text-align: center;
      margin: 5px 0%;
      background-color: #ededed;
      padding: 11px 10px 11px 10px;
      border: 2px solid #ededed;
      border-radius: 8px;
      box-shadow: 2px 4px 5px #d4d4d4;
      width: 100%;
      box-sizing: border-box;
    }

    .date:focus,
    .time:focus,
    .number:focus,
    .occasion:focus,
    .table-preference select:focus,
    .first-name:focus,
    .last-name:focus,
    .email:focus,
    .mobile:focus,
    .communication:focus,
    .special:focus {
      outline: 2px solid #F4CE14;
      transition: border 0.3s;
  }

  label {
    color: black;
    font-family: "Karla";
    font-size: 12px;
    margin: 0px;
    text-align: left;
  }

    .date {
      grid-area: date;
      color: rgb(73, 72, 72);
      background-image: url(..//Assets/date.png);
      background-position: left;
      background-origin: content-box;
      background-repeat: no-repeat;
      background-size: 1.2rem;
    }
      ::-webkit-calendar-picker-indicator {
        filter: invert(1);
        opacity: 0;
      }

    .time {
      grid-area: time;
      color: rgb(73, 72, 72);
      background-image: url(..//Assets/clock.png);
      background-position: left;
      background-origin: content-box;
      background-repeat: no-repeat;
      background-size: 1.2rem;
    }

    .number {
      grid-area: number;
      color: rgb(73, 72, 72);
      overflow: hidden;
      background-image: url(../Assets/person.png);
      background-position: left;
      background-origin: content-box;
      background-repeat: no-repeat;
      background-size: 1.2rem;
    }

    .occasion {
      grid-area: occasion;
      color: rgb(73, 72, 72);
      background-image: url(../Assets/Occasion.png);
      background-position: left;
      background-origin: content-box;
      background-repeat: no-repeat;
      background-size: 1.2rem;
    }

    .table-preference {
      grid-area: table-preference;
      grid-column: span 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .table {
        padding: 0px 5px 0px 0px;
      }

      .table-preference select {
        border: 1px solid #ededed;
        border-top: none;
        width: calc(100%-22px);
        box-sizing: border-box;
        background-color: #ededed;
        color: rgb(73, 72, 72);
        text-align: center;
        margin: 5px 0%;
        padding: 11px 5px;
        border-radius: 8px;
        box-shadow: 2px 4px 5px #d4d4d4;
      }

    .first-name {
      grid-area: first-name;
    }

    .last-name {
      grid-area: last-name;
   }

    .email {
      grid-area: email;
  }

    .mobile {
      grid-area: mobile;
  }

    .communication {
      grid-area: communication;
      grid-column: span 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .communication-label {
        padding: 0px 0px 0px 5px;
      }

    .special {
      grid-area: special;
      grid-column: span 2;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: flex-start;
      font-family: "Karla";
      color: black;
      font-size: 14px;
      resize: none;
      padding: 10px;
      margin: auto;
      background-color: #ededed;
      border: 2px solid #ededed;
      border-radius: 10px;
      box-shadow: 2px 4px 5px #d4d4d4;
    }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
  .submit {
    margin: 40px 0;
    padding: 15px 125px;
    background-color: #495E57;
    font-size: 18px;
    font-family: "Karla";
    font-weight: 700;
    color: white;
    border-radius: 30px;
    outline: none;
    border: none;
    box-shadow: 4px 6px 5px rgba(#000, 0.2);
    transition: background 0.3s;
    cursor: pointer;

      &:hover {
        background-color: #F4CE14;
        color: #495E57;
        transition: background 0.3s;
        box-shadow: 2px 2px 4px rgba(#000, 0.2);
      }
    }

@media (max-width: 768px) {
  .form-title {
      font-size: 32px;
  }

  .form-details {
      font-size: 18px;
      padding: 4px 8px;
  }
}
